<a href="https://colab.research.google.com/github/denisegonzaa/Linear-Algebra_ChE_2nd-Sem-2021-2022/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome To Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook, we are going to cover:
 * Variables and Data Types
 * Operations
 * Input and Output Operations
 * Logic Control
 * Iterables
 * Functions

## Variable and Data Types

In programming, variable is defined as the symbolic name that represents an unknown quantity that is being used at any time, it is the noun of a programming language which is changing for every execution depending on the information stored in it. Meanwhile, data types specify a variable on what information it contains and what type of operation it will use such as mathematical, logical, or relational.

In [ ]:
a = 1
d,g = 0, -1
g

-1

In [ ]:
type(g)

int

In [ ]:
v = 1.0
type(v)

float

In [ ]:
a = float(a)
type(a)

float

In [ ]:
r,e,y = "0", '1', 'one'
type(r)

str

In [ ]:
r_int = int(r)
r_int

0

## Operations

Operations are known as an action that is done to achieve a certain task. This method uses an operator which is a symbol to accomplish computations, the types of operators are the following: arithmetic, assignment, comparison, logical, and input-output operators.This method uses an operator which is a symbol to accomplish computations, the types of operators are the following: arithmetic, assignment, comparison, logical, and input-output operators

### Arithmetic

In [ ]:
d,g,i,n = 2.0, -0.5, 0, -32

In [ ]:
### Addition
S = d+g
S

1.5

In [ ]:
### Subtraction
D = g-n
D

31.5

In [ ]:
### Multiplication
P = d*n
P

-64.0

In [ ]:
### Division
Q = i/d
Q

0.0

In [ ]:
### Floor Division
Fq = d//g
Fq

-4.0

In [ ]:
### Exponentiation
E = d**g
E

0.7071067811865476

In [ ]:
### Modulo
mod = n%d
mod

0.0

### Assignment Operations

In [ ]:
B, C, O, P = 0, 100, 2, 2

In [ ]:
B += d
B

2.0

In [ ]:
C -= n
C

132

In [ ]:
O *= 2
2

2

In [ ]:
P **= 2
P

4

## Comparators

In [ ]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

In [ ]:
## Equality
res_1 == true_val

True

In [ ]:
## Non-equality
res_2 != true_val

True

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2
t4

True

## Logical

In [ ]:
res_1 == true_val

True

In [ ]:
res_1 is true_val

False

In [ ]:
res_1 is not true_val

True

In [ ]:
t,l = True, False
conj = t and l
conj

False

In [ ]:
t,l = True, False
disj = t or l
disj

True

In [ ]:
t,l = True, False
nand = not(t and l)
nand

True

In [ ]:
t,l = True, False
xor = (not t and l) or (t and not l)
xor

True

## I/O

In [ ]:
print("Tapusin mo course mo bago ka tapusin niyan")

Tapusin mo course mo bago ka tapusin niyan

In [ ]:
cnt = 1

In [ ]:
string = "Tapusin mo course mo bago ka tapusin niyan"
print(string, ", Current run count is:", cnt)
cnt += 1

Tapusin mo course mo bago ka tapusin niyan , Current run count is: 1

In [ ]:
print(f"{string}, Current count is:{cnt}")

Tapusin mo course mo bago ka tapusin niyan, Current count is:2

In [ ]:
sem_grade = 2.5
name = "Tobio"
print("Tapusin mo course mo bago ka tapusin niyan, {}. your semestral grade is: {}".format(name, sem_grade))

Tapusin mo course mo bago ka tapusin niyan, Tobio. your semestral grade is: 2.5

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your sem grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

The weights of your sem grades are:
	30.00% for Prelims
	30.00% for Midterms, and
	40.00% for Finals.

In [ ]:
a = input("Enter a number: ")
a

Enter a number: 3

'3'

In [ ]:
name = input("Dangsine ireum: ")
pg = input("Enter Prelim grade: ")
mg = input("Enter Midterm grade: ")
fg = input("Enter Finals grade: ")
sem_grade = None
print("Good day {}, your semestral grade is: {}".format(name, sem_grade))

Dangsine ireum: Tobio
Enter Prelim grade: 3
Enter Midterm grade: 3
Enter Finals grade: 2.5
Good day Tobio, your semestral grade is: None

# Looping Statements

Loop is a sequence of instructions that are used for repeatable execution until the assigned condition is satisfied. The students used two different types of loops which are for and while

## While

In [ ]:
## while loops
m, s = 0, 10
while(m<=s):
  print(f"{m}\t|\t{s}")
  m+=1

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10

## For

In [ ]:
# for(int m=0; s; m<10; m++){
# printf(m)
# }

m=0
for m in range(12):
  print(m)

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
playlist = ["Hikari Are", "Kaikai Kitan", "Moonlight Densetsu"]
print('Now Playing:\n')
for song in playlist:
  print(song)

Now Playing:

Hikari Are
Kaikai Kitan
Moonlight Densetsu

# Flow Control

Flow Control is defined as the sequence in which statements in a script are executed by the computer and this is directed with conditional statements, loops, and function calls

## Condition Statements

In [ ]:
numeral1, numeral2 = 12, 18
if(numeral1 == numeral2):
  print("Yass")
elif(numeral1>numeral2):
  print("Oho")
else:
  print("Naur")

Naur

## Functions

In [ ]:
# void DeleteUser(int userid){
#    delete(userid);
# }

def delete_user (userid):
  print("Successfuly deleted user: {}".format(userid))

def delete_all_users ():
  print("Successfully deleted all users")

In [ ]:
userid = "Mahito"
delete_user("Mahito")
delete_all_users()

Successfuly deleted user: Mahito
Successfully deleted all users

In [ ]:
def add(addend1, addend2):
  print("Now the sum is")
  return addend1 + addend2

def power_of_base2(exponent):
  return 2**exponent

addend1 = 2
addend2 = 18

exponent = 5

#add(addend1, addend2)
power_of_base2(exponent)

32

In [ ]:
add(addend1, addend2)

Now the sum is

20

### Lambda Functions

In [ ]:
a = 4

In [ ]:
def f(a):
  return 2*(a*a)-1
f(a)

31

In [ ]:
b = lambda a: 2*(a*a)-1
print(b(a))

31

# Calculator

This program is created for calculating the semestral grade of a student wherein different methods were utilized in the codes; the name, course, and grades for preliminary, midterm, and final terms were being input. Then as a result or output, the semestral grade is calculated following the emoji assigned to that certain grade bracket.

In [ ]:
print()
name = input('\tDangsine ireum: ');
course = input('\tYour course: ');
prelim = float(input('\tPrelim grade is: '));
midterm = float(input('\tMidterm grade is: '));
final = float(input('\tFinal grade is: '));
sem_grade = (prelim*0.30) + (midterm*0.30) + (final*0.40);

sem_grade = "{:.2f}".format(sem_grade)
print();
print("\t--RESULTS--");
print();
print("\tName: ", name, "Course: ", course);
if float(sem_grade) > 70.00:
  print("\tGrade: ", sem_grade, "\U0001F600");
elif float(sem_grade) == 70:
  print("\tGrade: ", sem_grade, "\U0001F606");
elif float(sem_grade) < 70:
  print("\tSemestral Grade: ", sem_grade, "\U0001F62D");
  print();

	Dangsine ireum: Nakahara Chuuya
	Your course: Linear Algebra
	Prelim grade is: 65.7692
	Midterm grade is: 89.5639
	Final grade is: 71.2058

	--RESULTS--

	Name:  Nakahara Chuuya Course:  Linear Algebra
	Grade:  75.08 ðŸ˜€